<div class="card-main">
    <div class="heading">
        <h4>My Cards: 1
            <span>/2</span>
            <button>
                <i class="fas fa-chevron-right"></i>
            </button>
            <button>
                <i class="fas fa-chevron-left"></i>
            </button>
        </h4>
    </div>
    
    <img src="assets/card.png" class="card-img" alt="">

    <div class="new-payment">
        <button class="btn">
            <i class="fas fa-plus"></i>
        </button>
        <p>Add New Card</p>
    </div>

    <div class="quick-action">
        <h4>Quick Actions</h4>

        <div class="icons">
            <div class="icon">
                <i class="fas fa-plus"></i>
                <p>Top Up</p>
            </div>
            <div class="icon">
                <i class="fas fa-paper-plane"></i>
                <p>Transfer</p>
            </div>
            <div class="icon">
                <i class="fas fa-money-check-alt"></i>
                <p>Top Up</p>
            </div>
        </div>
    </div>

    <div class="saving-plan">
        <h4>Saving Plan 
            <button>
                <i class="fas fa-plus"></i>
            </button>
        </h4>

        <div class="card">
            <div class="top-content">
                <div class="icon">
                    <i class="fas fa-clock"></i>
                </div>
                <div class="content">
                    <h6>New Watch</h6>
                    <p>Target $2,000</p>
                </div>
                <div class="option">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>

            <p>Total: $1,000 <span>50%</span></p>
            <div class="progress">
                <div class="progress-value" style="width:60%"></div>
            </div>
        </div>

        <div class="card">
            <div class="top-content">
                <div class="icon">
                    <i class="fas fa-tv"></i>
                </div>
                <div class="content">
                    <h6>Play Station</h6>
                    <p>Target $2,000</p>
                </div>
                <div class="option">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>

            <p>Total: $1,000 <span>50%</span></p>
            <div class="progress">
                <div class="progress-value" style="width:60%"></div>
            </div>
        </div>

        <div class="card">
            <div class="top-content">
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="content">
                    <h6>Shopping</h6>
                    <p>Target $2,000</p>
                </div>
                <div class="option">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>

            <p>Total: $1,000 <span>50%</span></p>
            <div class="progress">
                <div class="progress-value" style="width:60%"></div>
            </div>
        </div>
    </div>

</div>