<div class="header">
    <h2>Overview</h2>
    
    <div class="input-icon">
        <i class="fas fa-search"></i>
        <input type="text" class="" placeholder="Search anything here...">
    </div>

    <div class="right-icon">
        <div class="bell">
            <span class="badge">2</span>
            <button>
                <i class="fas fa-bell"></i>
            </button>
        </div>
        <div class="mail">
            <span class="badge">2</span>
            <button>
                <i class="fas fa-envelope"></i>
            </button>
        </div>

    </div>
</div>