<section class="money">
    <h4>Money Statictics
      
        <span>
            <select class="form-select">
                <option value="day">Day</option>
                <option value="month">Monthly</option>
                <option value="year">Yearly</option>
            </select>
            <i class="fas fa-ellipsis-h"></i>
        </span>
    </h4>

    <div class="row">
        <div class="income">
            <h6>Total Income</h6>
            <h2>${{statisticData?.total_income?.value}}</h2>
            <small> <i class="fas fa-chart-line"></i><b>+{{statisticData?.total_income?.trend}}%</b> from last
                month</small>
        </div>

        <div class="expense">
            <h6>Total Expense</h6>
            <h2>${{statisticData?.total_expense?.value}}</h2>
            <small> <i class="fas fa-chart-line"></i><b>+{{statisticData?.total_expense?.trend}}%</b> from last
                month</small>
        </div>
        <div class="investment">
            <h6>Total Investment</h6>
            <h2>${{statisticData?.total_investment?.value}}</h2>
            <small> <i class="fas fa-chart-line"></i><b>+{{statisticData?.total_investment?.trend}}%</b> from last
                month</small>
        </div>
    </div>

    <div class="charts">
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
            style="width: 100%; height: 400px; display: block;"></highcharts-chart>
    </div>
</section>