<aside class="top-nav">
    <ul class="nav">
        <li>
            <a href="javascript:void(0)" class="logo">
                <img src="assets/logo.png" class="" alt="">
                <i class="fas fa-chevron-left"></i>
            </a>
        </li>

        <li class="profile">
            <img src="assets/profile.png" class="" width="45" alt="">
            <p>Akmal Nasrullah</p>
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-down"></i>
        </li>
    </ul>

    <div class="sidebar">
        <h6>MENU</h6>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <i class="fas fa-th-large"></i>
                    Overview
                </a>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <i class="fas fa-list-ul"></i>
                    Transactions
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fas fa-chart-bar"></i>
                    Analytics
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fas fa-credit-card"></i>
                    Cards
                </a>
            </li>
        </ul>
    </div>

    <div class="sidebar">
        <h6>General</h6>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <i class="fas fa-cog"></i>
                    Settings
                </a>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <i class="far fa-comment-alt"></i>
                    Help/Support
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="far fa-moon"></i>
                    Dark Mood
                    <input type="checkbox">
                </a>
            </li>
        </ul>
    </div>

    <div class="new-payment">
        <button class="btn">
            <i class="fas fa-plus"></i>
        </button>
        <p>New Payment</p>
    </div>
</aside>